.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

table {
  border-collapse: collapse;
  width: 80%;
  max-width: 480px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  border: none; /* Remove the border from the table */
  backdrop-filter: blur(7px) saturate(180%);
  -webkit-backdrop-filter: blur(7px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

th, td {
  padding: 8px; /* Adjusted padding to maintain spacing */

}


th {
  background-color: #94863bcf;
  text-align: left;
}

td img {
  width: 200px; /* Set a specific width */
  height: 200px; /* Set a specific height */
  display: block;
  margin: 0 auto;
}

td p {
  text-align: center;
  margin-top: 8px;
  color: whitesmoke;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-header h2 {
  margin: 0 20px;
}

.menu-header .logo {
  width: 100px;
  height: 100px;
}

.Dlogo {
  width: 120px;
  border-radius: 5px;
  height: auto; 
}

.Clogo {
  width: 100px;
  border-radius: 5px;
  height: 40px;
}
